@import "./assets/bulma/bulma.sass";

.hero {
    &.has-background {
      position: relative;
      overflow: hidden;
    }
  
    &-background {
      position: absolute;
      object-fit: cover;
      object-position: bottom;
      width: 100%;
      height: 100%;
  
      &.is-transparent {
        opacity: 0.3;
      }
    }
  }
  
  .burger {
    background-color: transparent;
    border: none;
  }
  
  .navbar-brand {
    align-items: center;
  }

.col:not(:last-child) {
  margin-right: 0.75rem;
}

.ticket:not(:last-child) {
  margin-bottom: 0.75rem;
}

.grabable {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  transition: all 200ms ease-out;
}

.grabable:hover {
  box-shadow: 0 0 6px #2793da;
}

.grabable:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

/* DARK MODE */

body {
  background-color: $light;
}

body.dark {
  background-color: $dark;
}