global:
  scrape_interval: 120s
  evaluation_interval: 120s
  external_labels:
    monitor: 'ticketing-dev'
scrape_configs:
  - job_name: cadvisor
    scrape_interval: 5s
    static_configs:
      - targets:
          - cadvisor:8080
          - node-exporter:9100