BACKEND_HOST=127.0.0.1
BACKEND_PORT=7000
SERVER_ROOT=/home/vdaroczi/projects/rust/ticketing/frontend/dist
SERVER_PORT="${BACKEND_PORT}"
SERVER_NAME=ticketing
MAX_FDS=1024
CLIENT_HOST=127.0.0.1
CLIENT_PORT=7070
PROXY_PORT=7080
SERVER_URL="http://127.0.0.1:${PROXY_PORT}/backend"
CLIENT_URL="http://${CLIENT_HOST}:${PROXY_PORT}"
REDIS_PORT=9379
REDIS_URL="redis://127.0.0.1:${REDIS_PORT}/"
# Database
RUST_BACKTRACE=1
MARIADB_ROOT_PASSWORD=8728f416-1a37-473b-aaf3-498acea45d20
MARIADB_USER=ticketing
MARIADB_PASSWORD=c1caa722-0993-4974-93a5-3a5f217e902f
MARIADB_PORT=9306
MARIADB_HOST="127.0.0.1:${MARIADB_PORT}"
MARIADB_DATABASE=ticketing
DATABASE_URL="mysql://${MARIADB_USER}:${MARIADB_PASSWORD}@${MARIADB_HOST}/${MARIADB_DATABASE}"
ADMINER_PORT=9808
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1251412a-b171-4551-915b-9937f4b0ab8a
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=9432
POSTGRES_DB=fang
POSTGRES_URL="postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}"
SQLX_OFFLINE=true
JWT_SECRET=6e8be7cc-d5e4-4c78-a28c-6c772bac0d2a
# Mailing
ADMIN_EMAIL=admin@example.com
SMTP_HOST=127.0.0.1
SMTP_PORT=9125
SMTP_USERNAME=admin
SMTP_PASSWORD=cbe8cdda-ac47-49ac-ba3e-3425f24dac74
SMTP_TLS_OFF=true
MAILHOG_PORT=9825
# File upload (MiB)
MAX_BODY_LIMIT=5
BUCKET_NAME=images
